/* .navbar-category {
    float: left;
}

.nav-category-btn {
    list-style-type: none;
    margin: 0px 0px 0px 15px;
    padding: 0;
    width: 310px;
    background-color: #f1f1f1;
    border: 1px solid rgb(212, 212, 212);
  }

  
.nav-category-btn li a {
    
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav-category-btn li:nth-child(1) {
    height: 62px; 
}

  
.nav-category-btn li {
    width: 310px;
    height: 44px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(212, 212, 212);
}

.nav-category-btn li:last-child {
    
    border-bottom: none;
}

.nav-category-btn li a.active {
    height: 46px;
    background-color: #2A569E;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 45px;
}

.nav-category-btn li a:hover:not(.active) {
    height: 28px;
    background-color: rgb(236, 236, 236);
    color: rgb(106, 184, 214);
} */
.vertical-menu {
    float: left;
    margin-left: 20px;
    width: 300px; /* Set a width if you like */
  }

  #vertical-menu-hide-boilers {
    display: none;
    position: absolute;
    margin-left: 300px;
    transform: translateY(-424px);
  }

  #vertical-menu-hide-underfloor {
    display: none;
    position: absolute;
    margin-left: 300px;
    transform: translateY(-424px);
  }

  #vertical-menu-hide-plumb {
    display: none;
    position: absolute;
    margin-left: 300px;
    transform: translateY(-424px);
  }

  #vertical-menu-hide-pump {
    display: none;
    position: absolute;
    margin-left: 300px;
    transform: translateY(-424px);
  }

  #vertical-menu-hide-tube {
    display: none;
    position: absolute;
    margin-left: 300px;
    transform: translateY(-424px);
  }

  #vertical-menu-hide-waterclear {
    display: none;
    position: absolute;
    margin-left: 300px;
    transform: translateY(-424px);
  }

  #vertical-menu-hide-garden {
    display: none;
    position: absolute;
    margin-left: 300px;
    transform: translateY(-424px);
  }

  #vertical-menu-hide-tools {
    display: none;
    position: absolute;
    margin-left: 300px;
    transform: translateY(-424px);
  }

  #vertical-menu-hide-watermeters {
    display: none;
    position: absolute;
    margin-left: 300px;
    transform: translateY(-424px);
  }

  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    border: 1px solid #dddddd;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 0px 20px 15px;
    background-color: #4D6ACA; /* Add a green color to the "active/current" link */
    color: white;
  }
  